<!-- <mat-card class="d-flex">
  <mat-card-content class="d-flex  align-items-center">
    <img alt="profile-pic" src="https://pro.propeller.in/assets/images/Keith-Dowd.png" width="120" />
    <div class="p-4">
      <span><strong>{{ currentUser.authStatus$.value.data.attributes.name }} Details</strong></span>
      <p>Email: {{ currentUser.authStatus$.value.data.attributes.email }}</p>
      <p>Full Name: {{ currentUser.authStatus$.value.data.attributes.name }}</p>
      <p>Signature: </p>
    </div>

  </mat-card-content>
  <mat-card-footer>Footer</mat-card-footer>
</mat-card> -->

<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<mat-card class="d-flex">
  <mat-card-content class="d-flex align-items-center">
    <ng-container *ngIf="!isLoading; else loading">
      <img alt="profile-pic" src="https://pro.propeller.in/assets/images/Keith-Dowd.png" width="120" />
      <div class="p-4">
        <span><strong>{{ currentUser.authStatus$.value.data.attributes.name }} Details</strong></span>
        <p>Email: {{ currentUser.authStatus$.value.data.attributes.email }}</p>
        <p>Full Name: {{ currentUser.authStatus$.value.data.attributes.name }}</p>
        <p>Signature: </p>
      </div>
    </ng-container>
    <ng-template #loading>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <!-- <mat-spinner></mat-spinner> -->
    </ng-template>
  </mat-card-content>
  <mat-card-footer>Footer</mat-card-footer>
  <!-- {{currentUser.authStatus$.value | json}} -->
</mat-card>